$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-gray1: var(--color-gray1);
$color-gray2: var(--color-gray2);
$color-gray3: var(--color-gray3);
$color-gray4: var(--color-gray4);
$color-gray5: var(--color-gray5);
$color-gray6: var(--color-gray6);
$color-gray7: var(--color-gray7);
$color-gray8: var(--color-gray8);
$color-gray9: var(--color-gray9);
$color-light: var(--color-light);

:root {
  /* Colors */
  --color-primary: #616AE8;
  --color-secondary: #20E5A7;
  --color-gray9: #2E2A41;
  --color-gray8: #444057;
  --color-gray7: #7E7FA0;
  --color-gray6: #9d9eb4;
  --color-gray5: #a7a8b3;
  --color-gray4: #b3b4be;
  --color-gray3: #E8E8EB;
  --color-gray2: rgb(231, 231, 235);
  --color-gray1: #f1f1f3;
  --color-light: #fff;
  /* Fonts */
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
}
